.container{
    margin: auto;
    margin-top: 120px;
}
@media all and (max-width: 601px) and (min-width:200px){

    .container{
        margin: auto;
        margin-top: 280px;
        width: 100%;

    }
  }